---
import { siteConfig } from '@/site-config';

export interface Props {
    title: string;
    description?: string;
    ogImage?: string | undefined;
}

const { title, description = siteConfig.description, ogImage } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const socialImageURL = new URL(ogImage ? ogImage : '/yidev.io/yidevio.png', Astro.site);

const titleSeparator = '•';
const siteTitle = `${title} ${titleSeparator} ${siteConfig.title}`;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/png" href="/yidev.io/favicon.png" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<!-- <link rel="canonical" href={`${canonicalURL}/`} /> -->

<!-- Primary Meta Tags -->
<title>{siteTitle}</title>

<meta name="robots" content="index, follow" />
<meta name="revisit-after" content="7 days" />
<meta name="googlebot" content="index, follow" />

<!-- SEO -->
<meta name="title" content={siteTitle} />
<meta name="description" content={description} />
<meta name="author" content={siteConfig.author} />
<meta
    name="keywords"
    content="Desarrollador Web, Web Developer, Consultor Web, Freelancer, Programador, Web, Apps, Javascript, fullstack, ReactJS, Astro, Paginas Web, Maracaibo, venezuela"
/>
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" itemprop="image" content={socialImageURL} />

<meta property="og:locale" content="es_ES" />

<!-- open graph /whatsapp -->
<meta property="og:site_name" content={siteTitle} />
<meta property="og:type" content="website" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<link itemprop="thumbnailUrl" href={socialImageURL} />

<!-- Twitter -->
<meta name="twitter:site" content="@yidev27" />
<meta name="twitter:creator" content="@yidev27" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content={Astro.url} />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" itemprop="image" content={socialImageURL} />

<!-- RSS auto-discovery -->
<!-- <link rel="alternate" type="application/rss+xml" title={siteConfig.title} href="/rss.xml" /> -->

<link rel="stylesheet" href="/yidev.io/global.css" />
